@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap");

.uk-block {
  padding-top: 6%;
}

.green {
  color: rgb(11, 158, 11);
}

.red {
  color: rgb(201, 4, 4);
}
